::before,::after {
    --tw-content: '';
}

*,::before,::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #ff;
    --tw-ring-color: hsla(11,80%,45%,1);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

:is(.dark .chuxb)::before,:is(.dark .ci71t)::before {
    content: var(--tw-content);
    --tw-shadow: 0px 2px 0px 0px rgb(3 7 18 / .16) inset;
    --tw-shadow-colored: inset 0px 2px 0px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none
}

.coyoz,.cot75,.c5xn0,.cyg65,.cjnh9,.c9eli {
    border-width: 1px;
    border-color: transparent;
    background-color: rgb(255 255 255/0.7);
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    --tw-shadow-color: rgb(0 0 0 / 0.05);
    --tw-shadow: var(--tw-shadow-colored)
}

.coyoz:hover,.cot75:hover,.c5xn0:hover,.cyg65:hover,.cjnh9:hover,.c9eli:hover {
    background-color: rgb(255 255 255/0.8)
}

.coyoz:focus,.cot75:focus,.c5xn0:focus,.cyg65:focus,.cjnh9:focus,.c9eli:focus {
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    --tw-ring-offset-width: 0px
}

:is(.dark .coyoz),:is(.dark .cot75),:is(.dark .c5xn0),:is(.dark .cyg65),:is(.dark .cjnh9),:is(.dark .c9eli) {
    background-color: rgb(17 24 39/0.5)
}

:is(.dark .coyoz:hover),:is(.dark .cot75:hover),:is(.dark .c5xn0:hover),:is(.dark .cyg65:hover),:is(.dark .cjnh9:hover),:is(.dark .c9eli:hover) {
    background-color: rgb(17 24 39/0.6)
}

:is(.dark .coyoz:focus),:is(.dark .cot75:focus),:is(.dark .c5xn0:focus),:is(.dark .cyg65:focus),:is(.dark .cjnh9:focus),:is(.dark .c9eli:focus) {
    background-color: rgb(17 24 39/0.8)
}

.coyoz,.cot75,.c5xn0,.cyg65,.cjnh9 {
    border-radius: 0.5rem
}

.coyoz,.cot75,.c5xn0,.cyg65 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5715;
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

:is(.dark .coyoz),:is(.dark .cot75),:is(.dark .c5xn0),:is(.dark .cyg65) {
    --tw-text-opacity: 1;
    color: rgb(209 213 219/var(--tw-text-opacity))
}

.coyoz::-moz-placeholder,.cot75::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175/var(--tw-placeholder-opacity))
}

.coyoz::placeholder,.cot75::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175/var(--tw-placeholder-opacity))
}

:is(.dark .coyoz)::-moz-placeholder,:is(.dark .cot75)::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(107 114 128/var(--tw-placeholder-opacity))
}

:is(.dark .coyoz)::placeholder,:is(.dark .cot75)::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(107 114 128/var(--tw-placeholder-opacity))
}

.cyg65 {
    padding-right: 2.5rem
}

.cjnh9,.c9eli {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.cjnh9 {
    border-radius: 0.25rem
}

.cjnh9:checked {
    background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'%236366F1\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3cpath\ d=\'M12.207\ 4.793a1\ 1\ 0\ 010\ 1.414l-5\ 5a1\ 1\ 0\ 01-1.414\ 0l-2-2a1\ 1\ 0\ 011.414-1.414L6.5\ 9.086l4.293-4.293a1\ 1\ 0\ 011.414\ 0z\'/%3e%3c/svg%3e)
}

.coyoz:focus,.cot75:focus,.c5xn0:focus,.cyg65:focus,.cjnh9:focus,.c9eli:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.cm95n svg>*:nth-child(1),.cm95n svg>*:nth-child(2),.cm95n svg>*:nth-child(3) {
    transform-origin: center;
    transform: rotate(0deg)
}

.cm95n svg>*:nth-child(1) {
    transition: y 0.1s 0.25s ease-in,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19),opacity 0.1s ease-in
}

.cm95n svg>*:nth-child(2) {
    transition: transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19)
}

.cm95n svg>*:nth-child(3) {
    transition: y 0.1s 0.25s ease-in,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19),width 0.1s 0.25s ease-in
}

.cm95n.cn6uo svg>*:nth-child(1) {
    opacity: 0;
    y: 11;
    transform: rotate(225deg);
    transition: y 0.1s ease-out,transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1),opacity 0.1s 0.12s ease-out
}

.cm95n.cn6uo svg>*:nth-child(2) {
    transform: rotate(225deg);
    transition: transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1)
}

.cm95n.cn6uo svg>*:nth-child(3) {
    y: 11;
    transform: rotate(135deg);
    transition: y 0.1s ease-out,transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1),width 0.1s ease-out
}

.cz99u {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0
}

.cwysf {
    pointer-events: none;
}

.c2mue {
    visibility: visible
}

.c2saq {
    visibility: collapse
}

.cr8aa {
    position: fixed;
}

.ckwv3 {
    position: relative
}

.ckvyl {
    inset: -0.25rem
}

.ckoug {
    inset: -0.375rem
}

.clot7 {
    inset: -0.75rem
}

.c9v7h {
    top: 0px;
    bottom: 0px;
}

.cjgsx {
    left: -7rem
}

.cnbs3 {
    top: -3rem
}

.cu4yo {
    left: 0px
}

.cvhgl {
    left: 50%;
}

.cubdc {
    left: 6rem
}

.c8zmq {
    left: 11rem
}

.c110f {
    left: 20rem
}

.cpsm9 {
    left: 550px
}

.c98s8 {
    top: 3rem
}

.c9hsq {
    top: 9rem
}

.crj7h {
    top: 1rem
}

.cc2fz {
    top: 500px
}

.cgtcx {
    top: 100px
}

.cag0k {
    z-index: -10
}

.c2dja {
    z-index: 30
}

.ckj8f {
    margin-top: -1.25rem;
    margin-bottom: -1.25rem
}

.cyt8n {
    margin-left: 0.25rem;
    margin-right: 0.25rem
}

.czrhe {
    margin-left: auto;
    margin-right: auto
}

.ct1ec {
    margin-left: 0.5rem
}

.cxnkb {
    display: block
}

.cz8n6 {
    display: inline
}

.cezsk {
    display: flex
}

.cxcm6 {
    display: inline-flex
}

.c2u0b {
    display: grid
}

.calpu {
    display: none
}

.c2svq {
    height: 3rem
}

.cggi5 {
    height: 4rem
}

.c3yb8 {
    height: 6rem
}

.cwq23 {
    height: 1.25rem
}

.ccjvg {
    height: 1.5rem
}

.cwoae {
    height: 16rem
}

.crfrg {
    height: 2.25rem
}

.c8gx0 {
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.cj1w2 {
    width: 3.5rem
}

.ccuy5 {
    width: 1.25rem
}

.cojlt {
    width: 1102px;
}

.cc1h8 {
    width: 480px
}

.cyy6y {
    width: 1000px
}

.coe0p {
    width: 100%
}

.cpthp {
    max-width: 48rem
}

.cq3gz {
    max-width: 56rem
}

.cpun6 {
    max-width: 64rem
}

.cf04t {
    max-width: 28rem
}

.ca6hf {
    max-width: 36rem
}

.cgc2y {
    max-width: 20rem
}

.ctuhr {
    flex: 1 1 0%
}

.c81ef {
    flex-shrink: 0
}

.cgnjb {
    flex-grow: 1
}

.c9f5h {
    transform-origin: center
}

.cs1uv {
    --tw-translate-x: -60%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.c620m {
    --tw-rotate: 180deg !important;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important
}

.cpt6h {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes swing {
    0%,100% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-100px)
    }
}

.cs09d {
    animation: swing 10s ease-in-out infinite
}

@keyframes swing {
    0%,100% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-100px)
    }
}

.cfwzm {
    animation: swing 15s -1s ease-in-out infinite
}

@keyframes swing {
    0%,100% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-100px)
    }
}

.cpxaw {
    animation: swing 15s -2s ease-in-out infinite
}

@keyframes swing {
    0%,100% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-100px)
    }
}

.csla3 {
    animation: swing 7s -2s ease-in-out infinite
}

@keyframes swing {
    0%,100% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-100px)
    }
}

.c5bik {
    animation: swing 8s ease-in-out infinite
}

@keyframes swing {
    0%,100% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-100px)
    }
}

.c55mv {
    animation: swing 9s -3s ease-in-out infinite
}

.c9yqy {
    cursor: pointer
}

.c4gmd {
    resize: none
}

.c0602 {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.czgvl {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.catmx {
    grid-template-rows: 0fr
}

.ck6q3 {
    grid-template-rows: 1fr
}

.cjycj {
    flex-direction: column
}

.cjgvq {
    align-items: flex-start
}

.chwso {
    align-items: center
}

.chso3 {
    justify-content: flex-end
}

.c3927 {
    justify-content: center
}

.c45gv {
    justify-content: space-between
}

.chs6j {
    overflow: hidden
}

.cbc1e {
    white-space: nowrap
}

.cwky2 {
    border-radius: 0.25rem
}

.cxhhk {
    border-radius: 9999px
}

.ccjiw {
    border-radius: 0.5rem
}

.cprqb {
    border-radius: 0.375rem
}

.cpnw7 {
    border-radius: 0.125rem
}

.co3ih {
    border-width: 0px
}

.czieo {
    border-width: 2px
}

.cligc {
    border-bottom-width: 1px
}

.cpskd {
    border-bottom-width: 2px
}

.c07f0 {
    border-top-width: 1px
}

.c0afs {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity))
}

.cqray {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.c7i1q {
    border-color: transparent
}

.ct35u {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

.cwkzo {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.ccs7d {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity))
}

.c7wkd {
    --tw-bg-opacity: 1;
    background-color: rgb(224 231 255/var(--tw-bg-opacity))
}

.cy0uv {
    --tw-bg-opacity: 1;
    background-color: rgb(129 140 248/var(--tw-bg-opacity))
}

.cr2ij {
    background-color: rgb(99 102 241/0.15)
}

.cryv2 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.c04cg {
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops))
}

.cg498 {
    padding-bottom: 3rem
}

.cvgj5 {
    padding-bottom: 0.5rem
}

.cya07 {
    padding-bottom: 0.75rem
}

.casec {
    padding-bottom: 1rem
}

.cyujy {
    padding-left: 2.5rem
}

.cik0w {
    padding-left: 3rem
}

.cyi7p {
    padding-left: 1rem
}

.cjygq {
    padding-right: 1rem
}

.cjqio {
    padding-top: 3rem
}

.cw2nq {
    padding-top: 8rem
}

.c0k9n {
    text-transform: uppercase
}

.c87t9 {
    line-height: 1.5rem
}

.ctqpv {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.ceto1 {
    --tw-text-opacity: 1;
    color: rgb(243 244 246/var(--tw-text-opacity))
}

.cw5ms {
    --tw-text-opacity: 1;
    color: rgb(209 213 219/var(--tw-text-opacity))
}

.ckasv {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.cud52 {
    color: rgb(107 114 128/0.7)
}

.c7ewh {
    color: rgb(107 114 128/0.8)
}

.c63w3 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

.cgrfs {
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity))
}

.c2gcs {
    --tw-text-opacity: 1;
    color: rgb(31 41 55/var(--tw-text-opacity))
}

.cr27q {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity))
}

.cfx8h {
    --tw-text-opacity: 1;
    color: rgb(99 102 241/var(--tw-text-opacity))
}

.cq1o7 {
    --tw-text-opacity: 1;
    color: rgb(79 70 229/var(--tw-text-opacity))
}

.c4981 {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.cm4b7 {
    text-decoration-line: underline
}

.ce7fn {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.clwi2 {
    opacity: 0
}

.cleka {
    opacity: 1
}

.cf0cr {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.c7hiy {
    --tw-shadow: 0 1px 0 0 rgb(255 255 255 / .2);
    --tw-shadow-colored: 0 1px 0 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.cmpui {
    --tw-shadow: inset 0 1px 0 0 rgb(255 255 255 / .2);
    --tw-shadow-colored: inset 0 1px 0 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.cnguu {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.cr0m7 {
    --tw-shadow-color: rgb(0 0 0 / 0.05);
    --tw-shadow: var(--tw-shadow-colored)
}

.cetkn {
    --tw-blur: blur(64px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.cypfl {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cuee8 {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cozto {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cgvn6 {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cyxod {
    transition-duration: 200ms
}

.cn5cf {
    transition-duration: 300ms
}

.cm3u7 {
    transition-timing-function: cubic-bezier(0.4,0,0.2,1)
}

.ckl4f {
    transition-timing-function: cubic-bezier(0,0,0.2,1)
}

.crbyi {
    -o-border-image: linear-gradient(to right,transparent,rgb(165 180 252/.4),transparent)1;
    border-image: linear-gradient(to right,transparent,rgb(165 180 252/.4),transparent)1
}

.ctu16 {
    -o-border-image: linear-gradient(to right,transparent,rgb(165 180 252/.72),transparent)1;
    border-image: linear-gradient(to right,transparent,rgb(165 180 252/.72),transparent)1
}

[x-cloak=""] {
    display: none
}

.cevtx::before {
    content: var(--tw-content);
    position: absolute
}

.cv8gl::before {
    content: var(--tw-content);
    inset: 0px
}

.cpue7::before {
    content: var(--tw-content);
    top: 0px;
    bottom: 0px
}

.cjkk2::before {
    content: var(--tw-content);
    left: 0px
}

.cispr::before {
    content: var(--tw-content);
    left: 0.5rem
}

.clzt7::before {
    content: var(--tw-content);
    left: 2rem
}

.cvq9r::before {
    content: var(--tw-content);
    right: 0px
}

.cdxam::before {
    content: var(--tw-content);
    z-index: -10
}

.cx2we::before {
    content: var(--tw-content);
    height: calc(100% + 1rem)
}

.clw5z::before {
    content: var(--tw-content);
    height: 1px
}

.ckuy9::before {
    content: var(--tw-content);
    width: 6rem
}

.cv89o::before {
    content: var(--tw-content);
    width: 10px
}

.csmr0::before {
    content: var(--tw-content);
    width: 15px
}

.c8arv::before {
    content: var(--tw-content);
    width: 7px
}

.ciay6::before {
    content: var(--tw-content);
    width: 100%
}

.ck8p0::before {
    content: var(--tw-content);
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c78em::before {
    content: var(--tw-content);
    --tw-translate-y: 0.75rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c9b4s::before {
    content: var(--tw-content);
    --tw-rotate: -45deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cvfka::before {
    content: var(--tw-content);
    align-self: flex-start
}

.cmkro::before {
    content: var(--tw-content);
    border-radius: 0.5rem
}

.cj04y::before {
    content: var(--tw-content);
    border-bottom-right-radius: 9999px
}

.ckrsz::before {
    content: var(--tw-content);
    border-top-left-radius: 9999px
}

.conig::before {
    content: var(--tw-content);
    border-bottom-width: 1px
}

.ch88u::before {
    content: var(--tw-content);
    border-left-width: 1px
}

.cglru::before {
    content: var(--tw-content);
    background-color: rgb(165 180 252/0.5)
}

.c0oy8::before {
    content: var(--tw-content);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops))
}

.cprnn::before {
    content: var(--tw-content);
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

.cmix3::before {
    content: var(--tw-content);
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cxeuh::before {
    content: var(--tw-content);
    --tw-gradient-from: rgb(255 255 255 / 0.7) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cje3v::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(79 70 229 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #4f46e5 var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.cd03c::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(79 70 229 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), rgb(79 70 229 / 0.3) var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.c8m5q::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #fff var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.csstg::before {
    content: var(--tw-content);
    --tw-gradient-to: transparent var(--tw-gradient-to-position)
}

.cecuy::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(255 255 255 / 0.5) var(--tw-gradient-to-position)
}

.cukhb::before {
    content: var(--tw-content);
    background-size: 10px 10px
}

.cym3j::before {
    content: var(--tw-content);
    background-size: 15px 15px
}

.c3ehf::before {
    content: var(--tw-content);
    background-size: 7px 7px
}

.crgvw::before {
    content: var(--tw-content);
    background-repeat: no-repeat
}

.cvptg::before {
    content: var(--tw-content);
    padding-left: 1px
}

.cdk3h::before {
    content: var(--tw-content);
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.cd91y::before {
    content: var(--tw-content);
    --tw-shadow: -1px 0 0 0 rgb(255 255 255 / .2);
    --tw-shadow-colored: -1px 0 0 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.cqckm::before {
    content: var(--tw-content);
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.ctncm::before {
    content: var(--tw-content);
    --tw-shadow-color: rgb(0 0 0 / 0.05);
    --tw-shadow: var(--tw-shadow-colored)
}

.cl110::before {
    content: var(--tw-content);
    --tw-shadow-color: rgb(255 255 255 / 0.2);
    --tw-shadow: var(--tw-shadow-colored)
}

.cxo8x::before {
    content: var(--tw-content);
    background-image: linear-gradient(120deg,transparent 0%,rgb(129 140 248/.12) 33%,rgb(244 114 182/.12) 66%,rgb(253 230 138/.12) 100%)
}

.c4xyw::before {
    content: var(--tw-content);
    background-image: radial-gradient(circle at center,rgb(99 102 241/.56) 0.5px,transparent 0.5px),radial-gradient(circle at center,rgb(99 102 241/.56) 0.5px,transparent 0.5px)
}

.cq4r1::before {
    content: var(--tw-content);
    background-image: radial-gradient(circle at center,rgb(99 102 241/.56) 1.5px,transparent 1.5px),radial-gradient(circle at center,rgb(99 102 241/.56) 1.5px,transparent 1.5px)
}

.couhs::before {
    content: var(--tw-content);
    background-image: radial-gradient(circle at center,rgb(99 102 241/.56) 1px,transparent 1px),radial-gradient(circle at center,rgb(99 102 241/.56) 1px,transparent 1px)
}

.cehp5::before {
    content: var(--tw-content);
    background-position: top center,bottom center
}

.crc45::before {
    content: var(--tw-content);
    -o-border-image: linear-gradient(to bottom,rgb(165 180 252/.4),transparent)1;
    border-image: linear-gradient(to bottom,rgb(165 180 252/.4),transparent)1
}

.ckhko::before {
    content: var(--tw-content);
    -o-border-image: linear-gradient(to left,#a5b4fc,transparent)1;
    border-image: linear-gradient(to left,#a5b4fc,transparent)1
}

.cfs2v::before {
    content: var(--tw-content);
    -o-border-image: linear-gradient(to right,transparent,rgb(165 180 252/.8),transparent)1;
    border-image: linear-gradient(to right,transparent,rgb(165 180 252/.8),transparent)1
}

.cxgoq::after {
    content: var(--tw-content);
    position: absolute
}

.cr5hf::after {
    content: var(--tw-content);
    top: 0px;
    bottom: 0px
}

.c94nl::after {
    content: var(--tw-content);
    left: 0.5rem
}

.chsmj::after {
    content: var(--tw-content);
    left: 5rem
}

.c1qs0::after {
    content: var(--tw-content);
    right: 0px
}

.cj85p::after {
    content: var(--tw-content);
    right: 5rem
}

.ce1ea::after {
    content: var(--tw-content);
    height: 0.5rem
}

.cjewx::after {
    content: var(--tw-content);
    height: 1px
}

.cfb93::after {
    content: var(--tw-content);
    width: 0.5rem
}

.cx8zz::after {
    content: var(--tw-content);
    width: 6rem
}

.crc6r::after {
    content: var(--tw-content);
    width: 10px
}

.c26dl::after {
    content: var(--tw-content);
    width: 15px
}

.cw7re::after {
    content: var(--tw-content);
    width: 7px
}

.c7a79::after {
    content: var(--tw-content);
    width: 100%
}

.cdjec::after {
    content: var(--tw-content);
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ct7v1::after {
    content: var(--tw-content);
    --tw-translate-y: 0.5rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ceg90::after {
    content: var(--tw-content);
    border-radius: 9999px
}

.c0zgo::after {
    content: var(--tw-content);
    border-bottom-width: 1px
}

.c6ppr::after {
    content: var(--tw-content);
    border-left-width: 1px
}

.cicf5::after {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(129 140 248/var(--tw-bg-opacity))
}

.cx8c7::after {
    content: var(--tw-content);
    background-size: 10px 10px
}

.cxpxq::after {
    content: var(--tw-content);
    background-size: 15px 15px
}

.cks6d::after {
    content: var(--tw-content);
    background-size: 7px 7px
}

.c2z22::after {
    content: var(--tw-content);
    background-repeat: no-repeat
}

.czb12::after {
    content: var(--tw-content);
    --tw-shadow: -1px 0 0 0 rgb(255 255 255 / .2);
    --tw-shadow-colored: -1px 0 0 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.cc8zc::after {
    content: var(--tw-content);
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.ctanz::after {
    content: var(--tw-content);
    --tw-shadow-color: rgb(255 255 255 / 0.2);
    --tw-shadow: var(--tw-shadow-colored)
}

.cauvd::after {
    content: var(--tw-content);
    background-image: radial-gradient(circle at center,rgb(99 102 241/.56) 0.5px,transparent 0.5px),radial-gradient(circle at center,rgb(99 102 241/.56) 0.5px,transparent 0.5px)
}

.cfdqj::after {
    content: var(--tw-content);
    background-image: radial-gradient(circle at center,rgb(99 102 241/.56) 1.5px,transparent 1.5px),radial-gradient(circle at center,rgb(99 102 241/.56) 1.5px,transparent 1.5px)
}

.c53q4::after {
    content: var(--tw-content);
    background-image: radial-gradient(circle at center,rgb(99 102 241/.56) 1px,transparent 1px),radial-gradient(circle at center,rgb(99 102 241/.56) 1px,transparent 1px)
}

.chqy8::after {
    content: var(--tw-content);
    background-position: top center,bottom center
}

.c06dl::after {
    content: var(--tw-content);
    -o-border-image: linear-gradient(to bottom,rgb(165 180 252/.4),transparent)1;
    border-image: linear-gradient(to bottom,rgb(165 180 252/.4),transparent)1
}

.c26j7::after {
    content: var(--tw-content);
    -o-border-image: linear-gradient(to right,#a5b4fc,transparent)1;
    border-image: linear-gradient(to right,#a5b4fc,transparent)1
}

.c1upr::after {
    content: var(--tw-content);
    -o-border-image: linear-gradient(to right,transparent,rgb(165 180 252/.8),transparent)1;
    border-image: linear-gradient(to right,transparent,rgb(165 180 252/.8),transparent)1
}

.c6ajp:nth-child(even)::before {
    content: var(--tw-content);
    --tw-gradient-from: rgb(255 255 255 / 0.35) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cn718:nth-child(even)::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(255 255 255 / 0.25) var(--tw-gradient-to-position)
}

.camus:nth-child(even)::before {
    content: var(--tw-content);
    opacity: 0.5
}

.cfhsj:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity))
}

.cv7b2:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(224 231 255/var(--tw-bg-opacity))
}

.c24wj:hover {
    background-color: rgb(238 242 255/0.5)
}

.cb5h9:hover {
    text-decoration-line: underline
}

.c3c77:focus {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0/var(--tw-border-opacity))
}

.clmi0:focus {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.c3it5:focus {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128/var(--tw-border-opacity))
}

.c9tpo:focus {
    --tw-border-opacity: 1;
    border-color: rgb(165 180 252/var(--tw-border-opacity))
}

.c4de3:focus {
    border-color: transparent
}

.c0g7c:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.ca4s8:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.c0rjd:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.c8nqw:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.c1p6t:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.c2hjp:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity))
}

.c5zkf:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity))
}

.cp0ma:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity))
}

.cz2ds:focus {
    --tw-ring-opacity: 0.5
}

.cjux5:focus {
    --tw-ring-offset-width: 0px
}

.csihe:focus {
    --tw-ring-offset-width: 2px
}

.cfg3c:last-child .cnh37::before {
    content: var(--tw-content);
    display: none
}

:is(.dark .czmlk) {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

:is(.dark .cw06u) {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99/var(--tw-bg-opacity))
}

:is(.dark .cyfzq) {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity))
}

:is(.dark .cippd) {
    background-color: rgb(31 41 55/0.5)
}

:is(.dark .c8z9n) {
    background-color: rgb(31 41 55/0.65)
}

:is(.dark .c7e3b) {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity))
}

:is(.dark .ci2tu) {
    background-color: transparent
}

:is(.dark .c0cnt) {
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops))
}

:is(.dark .cmyvz) {
    --tw-gradient-from: rgb(55 65 81 / 0.5) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(55 65 81 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

:is(.dark .cvvig) {
    --tw-gradient-from: rgb(55 65 81 / 0.8) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(55 65 81 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

:is(.dark .cwr74) {
    --tw-gradient-from: #c7d2fe var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(199 210 254 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

:is(.dark .cyiq9) {
    --tw-gradient-from: #6366f1 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(99 102 241 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

:is(.dark .crlpf) {
    --tw-gradient-to: #e5e7eb var(--tw-gradient-to-position)
}

:is(.dark .c3c25) {
    --tw-gradient-to: rgb(55 65 81 / 0.4) var(--tw-gradient-to-position)
}

:is(.dark .cba0k) {
    --tw-gradient-to: rgb(55 65 81 / 0.7) var(--tw-gradient-to-position)
}

:is(.dark .ccjbb) {
    --tw-gradient-to: #eef2ff var(--tw-gradient-to-position)
}

:is(.dark .cfatl) {
    -webkit-background-clip: text;
    background-clip: text
}

:is(.dark .c7cme) {
    fill: #e5e7eb
}

:is(.dark .cyq8e) {
    fill: #9ca3af
}

:is(.dark .cdp5p) {
    fill: #6b7280
}

:is(.dark .cj90m) {
    --tw-text-opacity: 1;
    color: rgb(229 231 235/var(--tw-text-opacity))
}

:is(.dark .cauea) {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity))
}

:is(.dark .cis7l) {
    color: rgb(156 163 175/0.7)
}

:is(.dark .c7ha7) {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

:is(.dark .czbbd) {
    --tw-text-opacity: 1;
    color: rgb(31 41 55/var(--tw-text-opacity))
}

:is(.dark .ce627) {
    color: transparent
}

:is(.dark .cvq6c) {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

:is(.dark .c9v3y) {
    -o-border-image: linear-gradient(to right,transparent,rgb(165 180 252/.16),transparent)1;
    border-image: linear-gradient(to right,transparent,rgb(165 180 252/.16),transparent)1
}

:is(.dark .cn01q)::before {
    content: var(--tw-content);
    background-color: rgb(165 180 252/0.15)
}

:is(.dark .c6qmt)::before {
    content: var(--tw-content);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops))
}

:is(.dark .cxsqg)::before {
    content: var(--tw-content);
    --tw-gradient-from: rgb(55 65 81 / 0.5) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(55 65 81 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

:is(.dark .chupg)::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(129 140 248 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #818cf8 var(--tw-gradient-via-position), var(--tw-gradient-to)
}

:is(.dark .czbwe)::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(129 140 248 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), rgb(129 140 248 / 0.3) var(--tw-gradient-via-position), var(--tw-gradient-to)
}

:is(.dark .cpvgd)::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(49 46 129 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #312e81 var(--tw-gradient-via-position), var(--tw-gradient-to)
}

:is(.dark .crjok)::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(30 27 75 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #1e1b4b var(--tw-gradient-via-position), var(--tw-gradient-to)
}

:is(.dark .c1d4b)::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(55 65 81 / 0.4) var(--tw-gradient-to-position)
}

:is(.dark .c2wd7)::before {
    content: var(--tw-content);
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

:is(.dark .cw1gd)::before {
    content: var(--tw-content);
    background-image: linear-gradient(120deg,rgb(129 140 248/.16),rgb(79 70 229/.16) 50%,transparent 100%)
}

:is(.dark .ck5ws)::before {
    content: var(--tw-content);
    background-image: radial-gradient(circle at center,#4b5563 1.5px,transparent 1.5px),radial-gradient(circle at center,#4b5563 1.5px,transparent 1.5px)
}

:is(.dark .c3cy3)::before {
    content: var(--tw-content);
    background-image: radial-gradient(circle at center,rgb(75 85 99/.56) 0.5px,transparent 0.5px),radial-gradient(circle at center,rgb(75 85 99/.56) 0.5px,transparent 0.5px)
}

:is(.dark .ch4rd)::before {
    content: var(--tw-content);
    background-image: radial-gradient(circle at center,rgb(75 85 99/.56) 1px,transparent 1px),radial-gradient(circle at center,rgb(75 85 99/.56) 1px,transparent 1px)
}

:is(.dark .c9dpd)::before {
    content: var(--tw-content);
    -o-border-image: linear-gradient(to bottom,rgb(165 180 252/.16),transparent)1;
    border-image: linear-gradient(to bottom,rgb(165 180 252/.16),transparent)1
}

:is(.dark .c0drb)::before {
    content: var(--tw-content);
    -o-border-image: linear-gradient(to left,rgb(165 180 252/.16),transparent)1;
    border-image: linear-gradient(to left,rgb(165 180 252/.16),transparent)1
}

:is(.dark .c1t8r)::before {
    content: var(--tw-content);
    -o-border-image: linear-gradient(to right,transparent,rgb(165 180 252/.16),transparent)1;
    border-image: linear-gradient(to right,transparent,rgb(165 180 252/.16),transparent)1
}

:is(.dark .cd8xp)::after {
    content: var(--tw-content);
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

:is(.dark .c5pov)::after {
    content: var(--tw-content);
    background-image: radial-gradient(circle at center,#4b5563 1.5px,transparent 1.5px),radial-gradient(circle at center,#4b5563 1.5px,transparent 1.5px)
}

:is(.dark .cpoza)::after {
    content: var(--tw-content);
    background-image: radial-gradient(circle at center,rgb(75 85 99/.56) 0.5px,transparent 0.5px),radial-gradient(circle at center,rgb(75 85 99/.56) 0.5px,transparent 0.5px)
}

:is(.dark .cetk9)::after {
    content: var(--tw-content);
    background-image: radial-gradient(circle at center,rgb(75 85 99/.56) 1px,transparent 1px),radial-gradient(circle at center,rgb(75 85 99/.56) 1px,transparent 1px)
}

:is(.dark .c30rf)::after {
    content: var(--tw-content);
    -o-border-image: linear-gradient(to bottom,rgb(165 180 252/.16),transparent)1;
    border-image: linear-gradient(to bottom,rgb(165 180 252/.16),transparent)1
}

:is(.dark .cpgkc)::after {
    content: var(--tw-content);
    -o-border-image: linear-gradient(to right,rgb(165 180 252/.16),transparent)1;
    border-image: linear-gradient(to right,rgb(165 180 252/.16),transparent)1
}

:is(.dark .c330t)::after {
    content: var(--tw-content);
    -o-border-image: linear-gradient(to right,transparent,rgb(165 180 252/.16),transparent)1;
    border-image: linear-gradient(to right,transparent,rgb(165 180 252/.16),transparent)1
}

:is(.dark .cup73):nth-child(even)::before {
    content: var(--tw-content);
    --tw-gradient-from: rgb(31 41 55 / 0.25) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(31 41 55 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

:is(.dark .coz0e):nth-child(even)::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(55 65 81 / 0.2) var(--tw-gradient-to-position)
}

:is(.dark .cbj24:hover) {
    background-color: rgb(55 65 81/0.2)
}

:is(.dark .cpvyo:hover) {
    background-color: rgb(31 41 55/0.3)
}

:is(.dark .cg4ff:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}