/* Team page */
.dark {
    background-color: #333333;
    color: #ffffff;
}

.dark .bg-image {
    filter: brightness(0.5); /* Adjust background image brightness for dark mode */
}

.dark .team-member {
    border-color: #ffffff30; /* Adjust border color */
    box-shadow: 0 0px 6px 6px rgba(255, 255, 255, 0.151); /* Adjust box shadow */
}

.dark .content {
    background-color: #333333; /* Adjust content background color */
}

.dark .name {
    color: #ffffff; /* Adjust name color */
}

.dark .description {
    color: #aaaaaa; /* Adjust description color */
}

.dark .read-more {
    background-color: #ffffff; /* Adjust read more button background color */
    color: #333333; /* Adjust read more button text color */
    border-color: #ffffff; /* Adjust read more button border color */
}

.dark .read-more a {
    color: #333333; /* Adjust read more button link color */
}

/*Landing page*/
.dark h1 {
    color: #ffffff; /* Adjust text color */
}

.dark p {
    color: #a8a8a8; /* Adjust text color */
}

.dark .btn-primary {
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 2px 20px 10px rgba(255, 255, 255, 0.116);
}

.dark .btn-secondary {
    background-color: #222121;
    color: #ffffff;
    box-shadow: 0 2px 20px 10px rgba(255, 255, 255, 0.116);
}

.dark .btn:hover {
    filter: brightness(110%);
}

.dark .bg-land::before {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust background color with 50% opacity */
}

.dark .image-container div {
    box-shadow: 0px -5px 20px 20px rgba(255, 255, 255, 0.105); /* Adjust shadow effect */
}

.dark .image-description {
    color: #ffffff; /* Adjust text color */
}

/*Chat page*/
.dark .file-upload {
    color: #333333; /* Adjust text color */
    box-shadow: 0 2px 40px 10px rgba(255, 255, 255, 0.092);
}
.dark .container {
    color: #ffffff; /* Adjust text color */
}

.dark .typing-input {
    border-color: #9b9a9a; /* Adjust input border color */
    color: #222121;
}

.dark .send-button {
    background-color: #ffffff; /* Adjust button background color */
}

.dark .send-button img {
    filter: invert(1); /* Invert button icon color */
}

.dark .bg-indigo-100::before {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust background color with 50% opacity */
}

.dark .bg-image {
    filter: brightness(0.1); /* Adjust background image brightness for dark mode */
}

/*Help page*/
.dark .container {
    color: #ffffff; /* Adjust text color */
}

.dark .btn {
    background-color: #d7d6d6;
    color: #333333;
    box-shadow: 0 2px 40px 10px rgba(255, 255, 255, 0.25);
}

.dark .btn:hover {
    background-color: #525151;
    color: #ffffff;
}

/*General*/
.dark nav {
    border-color: #ffffff; /* Adjust navbar background color */
}

.dark footer {
    color: #ffffff; /* Adjust text color */
    border-color: #ffffff;
}